@import "variables";
@import "functions";
@import "mixins";
@import "snippets";
@import "placeholders";
@import "modules/header";
@import "modules/pokemon";
@import "modules/footer";

body{
    margin: 0;
    font-family: global("fontFamily");
    font-size: global("fontSize");
}