.pokemons{
    display: grid;
    @include gridFlexible(240px);
    max-width: 1500px;
    @extend %marginAuto;
}
.pokemon{
    position: relative;
    @extend %flexCenter;
    height: 240px;

    &__title{
        @extend %posFullAbsolute;
        z-index: 1;
        font-size: 1.3em;
        @extend %flexCenterHorizontal;
        align-items: flex-end;
        color: rgb(255, 228, 228);
        text-shadow: 0 0 5px black;
    }
    &__image{
        width: 70%;
        height: 70%;
        object-fit: contain;
        transition: transform 300ms;
    }

    &:hover &__image{
        transform: scale(1.8);
    }
}
